html
    head
        title Surge
        link(rel='stylesheet', href='/static/app.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    body
        script(src='/static/app.js')
