html
    head
        title Surge
        link(rel='stylesheet', href='/static/app.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    body
        .bgimg
        .background
            .wrapper
                h1 SURGE
                .listitem
                    img(src='/static/imgs/gvsurgedefault.png' class='listimg')
                    p Item1
                .listitem
                    img(src='/static/imgs/gvsurgedefault.png' class='listimg')
                    p Item2
                .listitem
                    img(src='/static/imgs/gvsurgedefault.png' class='listimg')
                    p Item3
                .listitem
                    img(src='/static/imgs/gvsurgedefault.png' class='listimg')
                    p Item4
                .listitem
                    img(src='/static/imgs/gvsurgedefault.png' class='listimg')
                    p Item5
                .listitem
                    img(src='/static/imgs/gvsurgedefault.png' class='listimg')
                    p Item6
                .listitem
                    img(src='/static/imgs/gvsurgedefault.png' class='listimg')
                    p Item7
                .listitem
                    img(src='/static/imgs/gvsurgedefault.png' class='listimg')
                    p Item8
                .listitem
                    img(src='/static/imgs/gvsurgedefault.png' class='listimg')
                    p Item9
        script(src='/static/app.js')
