html
    head
        title Surge
        link(rel='stylesheet', href='/static/app.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    body
        .bgimg
        .background
            .wrapper
                h1 SURGE
                each stream in streams
                    .listitem
                        a(href='/' + stream.name)
                            img.listimg(src='/thumb/' + stream.name)
                        a(href='/' + stream.name)
                            h3=stream.name + ' (' + stream.viewers + ')'
                        //p.viewers=details.viewers
        script(src='/static/app.js')
